{% extends 'recipes/base.html' %}

{% load static %}


{% block title %}Add Recipe{% endblock %}

{% block content %}

<head>
    <title>Add Recipe</title>
    <link rel="icon" href="{% static 'recipes/images/recipe_app.jpg' %}" type="image/x-icon">
</head>
<div
    style="max-width: 800px; margin: 50px auto; padding: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <h1 style="text-align: center; color: #333; margin-bottom: 20px; font-size: 2rem;">Add a New Recipe</h1>

    <form method="POST" enctype="multipart/form-data" style="padding: 20px;">
        {% csrf_token %}
        <div style="margin-bottom: 15px;">
            {{ form.as_p }}
        </div>
        <div style="display: flex; justify-content: space-between; margin-top: 20px;">
            <button type="submit"
                style="background-color: #007bff; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; text-decoration: none;">
                Add Recipe
            </button>
            <a href="{% url 'recipes:recipes_list' %}"
                style="background-color: #6c757d; color: #fff; padding: 10px 20px; border-radius: 5px; text-decoration: none; text-align: center;">
                Back to Recipes
            </a>
        </div>
    </form>
</div>
{% endblock %}